*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url(https://c0.wallpaperflare.com/preview/475/1022/504/romania-rar%C4%83u-foggy-clean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    background-color: #081308;
    color: white;
    height: 10vmin;
    line-height: 9vmin;
    font-size: 7vmin;
}
.choice{
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color:cornflowerblue;
    cursor: pointer;
}
img{
    height: 22vmin;
    width: 22vmin;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
    margin-top: 12vmin;
    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14vmin;
    font-size: 5vmin;
    font-weight: bold;
    margin-top: 11vmin;
}
#user-score , #computer-score{
     font-size: 8vmin;
}
#msg{
    background-color: black;
    color: white;
    width: 15vmin;
    display: inline;
    font-size: 5vmin;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.msg-container{
    margin-top: 13vmin;
}